<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neerajms99b.neeraj.mymutualfunds">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- &lt;!&ndash; enable the search dialog to send searches to SearchableActivity &ndash;&gt; -->
            <!-- <meta-data android:name="android.app.default_searchable" -->
            <!-- android:value="ui.SearchActivity" /> -->
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity android:name=".ui.SignInActivity"/>
        <service
            android:name=".service.FetchFundsTask"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service android:name=".service.FundsIntentService" />

        <provider
            android:name=".data.FundsContentProvider"
            android:authorities="com.neerajms99b.neeraj.mymutualfunds.data" />

    </application>

</manifest>